/* style.css */

html, body {
  height: 100%;
}

img{
  position: fixed;
  top: 10%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  /*color*/
  background-color: #fcf6ef;
}

#playerContainer{
  position: relative;
  margin-right: 10%;
  margin-top: 3%;
  background-color: black;
  width: 300px;
  outline: 2px solid black;
}

#audioPlayer{
  height: 50px;
  background-color: black;
  border: 5px solid white;
  outline: 2px solid black;
  overflow: hidden;
}

#playlist{
  list-style: none;
}
#playlist li{
  color: white;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  font-size: 12px;
  font-style: italic;
}
#playlist .current-song{
  font-weight: bold;
}

#playButton{
  color: white;
  float: left;
  margin-left: 5%;
  height: inherit;
  display: inline-block;
  width: 14px;
}

#current-time{
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  font-size: 12px;
  font-style: italic;
  margin-left: 10%;
  color: white;
  height: inherit;
  float: left;
  display: inline-block;
}

#total-time{
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  font-size: 12px;
  font-style: italic;
  color: white;
  height: inherit;
  float: left;
  display: inline-block;
  margin-left: 3px;
}

#playIcon{
  position: relative;
  top: 30%;
}

#pauseIcon{
  position: relative;
  top: 30%;
}

#timeText{
  position: relative;
  top: 10%;
}

#timeText2{
  position: relative;
  top: 10%;
}

#progressBar{
  margin-left: 10%;
  margin-top: 7%;
  float: left;
  width: 40%;
}

#muteButton{
  height: inherit;
  float: left;
  color: white;
}

#muteIcon{
  position: relative;
  top: 30%;
}

#defaultCanvas0{
  margin-top: 5%;
}

li { cursor: pointer; }


/* SLIDER styling */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* SLIDER THUMB styling */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 23px;
  width: 9px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* SLIDER track styling*/

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}
